<!-- ModelerServer -->
<configuration>
	<system.runtime.remoting>
		<application name="DIOS">
			<channels>
				<channel port="8085" ref="tcp">
					<serverProviders>
		                    		<formatter ref="binary" typeFilterLevel="Full"/>
						<provider ref="wsdl"/>
						<provider type="Modeler.Remote.Authentification.IdentityServerSinkProvider, Modeler.Remote.Authentification"/>
					</serverProviders>
				</channel>
			</channels>
		</application>
		<customErrors mode="off"/>
	</system.runtime.remoting>
	<modeler.data application = "ModelerServer" dataSource="ACER-91B8915757\SQLEXPRESS" initialcatalog="development"/>
</configuration>
