@using System.Web.Optimization;
@using System.Data
@using Newtonsoft.Json

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DERSA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        .statusbar {
            color: #000080;
            background-color: #dfe0d8;
            position: absolute;
            padding: 5px;
            bottom: 25px;
            width: 100%;
        }
    </style>
    <script>
        var initialNodeId = undefined;
        var mxBasePath = '../../';
        var appDiagram;
        var keydown_assigned = false;
        function dragDrop(ev) {
            let N = appDiagram.ctrls.length;
            appDiagram.ctrls.push({ displayed_name: ev.data.name, id: 'n_' + ev.data.id, app_index: N, left: ev.offsetX, top: ev.offsetY, width: 100, height: 25, is_selected: false, is_visible: true });
            ev.stopPropagation();
            return false;
        }

    </script>
    @Html.Raw("<script> initialNodeId = " + ViewBag.initialNodeId.ToString() + "; </script>");


    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .btn {
            background-color: black;
            border: none;
            color: lightgray;
            padding: 4px 8px;
            font-size: 16px;
            cursor: pointer;
            width: 32px;
        }

            /* Darker background on mouse-over */
            .btn:hover {
                background-color: RoyalBlue;
                color: black;
            }
    </style>
</head>
<body onload="createEditor('config/diagrameditor.xml');">

    <div style="float:left;width:200px;margin-top:-20px"><h1>DERSA modeler</h1></div>
    <div style="position:absolute;width: 260px;top: 96px; left: 300px;"><input id="tbSearch" style="width:100%" type="text"></div>
    <div id="tabControl" style="position:absolute; left:1200px; top: 120px;"></div>
    <div style="position:absolute;width:80px;top:92px;left:556px">
        <button class="btn" id="bnSearch" onclick="S=document.getElementById('tbSearch');V=S.value;if(isNaN(+V)||+V<10000){var form=new mxForm('find');var xhr=new XMLHttpRequest();args='srchval='+V;xhr.open('GET', 'Entity/Find?' + args, false);xhr.send();var attrs = JSON.parse(xhr.responseText);var Props=CreateProperties(form, attrs, '');var wnd=new mxWindow('find',Props,100,100,800,400,false,true);form.window = wnd;wnd.setVisible(true);return;}GoToNode(V)"><i class="fa fa-search"></i></button>
    </div>
    <div style="float:right;width:200px;margin-top:10px">
        <p align="right">
            <a href="#Settings" id="bnSettings" onclick="bnSettingsClick()"><strong><span style="color: green;">@ViewBag.Login</span></strong></a>
        </p>
        &ensp;<input type="text" id="tbOptions" hidden><input type="checkbox" id="bnEdit" hidden><label id="laEdit"></label>
        <input id="displaytext" type="hidden" />
        <input id="DiagramId" type="hidden" />
    </div>
    <script>
        function bnSettingsClick() {
            var form = new mxForm('settings');

            var xhr = new XMLHttpRequest();
            xhr.open('GET', "Account/JsSettings", false);
            xhr.send();
            var attrs = JSON.parse(xhr.responseText);

            var Props = CreateProperties(form, attrs, "Account/SetUserSettings");
            var wnd = new mxWindow('settings',
                Props, 100, 100, 400, 400, false, true);
            form.window = wnd;
            wnd.setVisible(true);
        }
    </script>

    <div id="tool_box" style="top: 120px; left: 5px; width: 20px; height: 100px; position: absolute;">
        @{
            DataTable T = null;
            if (ViewBag.ToolBoxData != null)
            { T = JsonConvert.DeserializeObject<DataTable>(ViewBag.ToolBoxData.ToString()); }
        }
        @if (T != null)
        {
            foreach (DataRow item in T.Rows)
            {
                <button class="btn" onmouseover="$('#toolhint').html('@item["hint"].ToString()'); $('#toolhint').show();" onmouseout="$('#toolhint').hide();" onclick="var xhr=new XMLHttpRequest();xhr.open('GET','/Query/GetAction?id=@item["script_id"].ToString()&MethodName=Exec', false);xhr.send();eval(xhr.responseText);"><i class="fa fa-@item["icon"].ToString()"></i></button>
            }
        }
        <div id="toolhint" style="background:white;width:80px;display:none"></div>
    </div>
    <br><br><p>&copy; @DateTime.Now.Year</p>
    <hr size="2" color="black">
    <br>

    <div id="dersa" class="block1">
    </div>

    <div id="infoboard" class="block2">
    </div>

    <div id="mxDiagramDiv" class="block2">
        <table border="0" width="730px">
            <tr>
                <td id="toolbar" style="width:16px;padding-left:0px;" valign="top">
                    <!-- Toolbar Here -->
                </td>
                <td valign="top" style="border-width:1px;border-style:solid;border-color:black;">
                    <div id="graph" tabindex="-1" style="height:480px;width:800px;display:none;overflow:hidden;cursor:default;">
                    </div>
                    <div id="diagramPresentation" tabindex="-1" style="height:800px;width:800px;overflow:hidden;cursor:default;">
                    </div>
                    <textarea id="xml" style="height:480px;width:684px;display:none;border-style:none;"></textarea>
                </td>
            </tr>
        </table>
        <span style="float:right;padding-right:36px;">
            <input id="source" type="checkbox" />Source
        </span>
        <div id="diagram_xml">
            <input id="diag_xml_main" type="hidden" />
        </div>
    </div>

    <script src="dist/jquery.js"></script>
    <script src="dist/jquery-ui.js"></script>
    <script src="dist/jstree.js"></script>
    <script src="dist/dersatree.js"></script>
    <script src="js/mxClient.js"></script>
    <script src="js/mxApplication.js"></script>
    <script src="dist/vue.js"></script>
    <script src="dist/vue_components.js"></script>

    <script>
        var Editor = null;
        infoControl = document.getElementById("infoboard");
        chEdit = document.getElementById("bnEdit");
        laEdit = document.getElementById("laEdit");
        chEdit.addEventListener("click", function () {
            if (!chEdit.checked) {
                infoControl.innerHTML = "";
                CancelEditDiagram();
            }
        });

        var initArray = 
        [
            { displayed_name: 'вид 1', id: 'p1', index: 0, is_selected: true, is_visible: true },
            { displayed_name: 'вид 2', id: 'p2', index: 1, is_selected: false, is_visible: true },
        ];

        var TC = $('#diagramPresentation').dersaTabControl({X: 20, y: 150}, {width: 850, height: 800}, initArray);

        TC.GetPage(1).text('пока нет отображения');

$(document).ready(function () {

    var POSITIONTOP = 0;

    $('#mxDiagramDiv').css("left", +$('#dersa').width() + 75 + "px");
    $('#mxDiagramDiv').css("top", "200px");
    $('#mxDiagramDiv').hide();
    $('#infoboard').css("left", +$('#dersa').width() + 75 + "px");
    $('#infoboard').css("top", "200px");
    $('#infoboard').show();


    $(window).scroll(function () {
        var pos = parseInt($(window).scrollTop()) + 40;
        if (pos < 200) pos = 200;
        $('#tool_box').animate({ top: pos + "px" }, { queue: false, duration: 200 });
        if ($('#infotable').height() + POSITIONTOP - pos + 200 < $(window).height() || POSITIONTOP > pos + 100) {
            $('#infoboard').animate({ top: pos + "px" }, { queue: false, duration: 200 });
            $('#mxDiagramDiv').animate({ top: pos + "px" }, { queue: false, duration: 200 });
            POSITIONTOP = pos;
        }
    });

    $(window).resize(function () {
        $('#infoboard').animate({ left: +$('#dersa').width() + 75 + "px" }, { queue: false, duration: 200 });
    });
});

    </script>

</body>
</html>
