<p align="center">
    Заявка № 15
</p>
<table width="0" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="172" valign="top">
                <p>
                    <strong>Дата создания:</strong>
                </p>
                <p>
                    <strong>29.10.2018<u></u></strong>
                </p>
            </td>
            <td width="170" valign="top" colspan="2">
                <p>
                    <strong> </strong>
                </p>
            </td>
            <td width="282" valign="top">
                <p>
                    <strong>
                        Департамент статистики и управления данными<u></u>
                    </strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="624" valign="top" colspan="4">
                <p>
                    <strong>Наименование ПП: </strong>
                    Подсистема «Анализ сведений о расчетах по операциям с
                    ценными бумагами, совершенных между резидентами и
                    нерезидентами, на основе отчетности по форме 0409405)»
                </p>
            </td>
        </tr>
        <tr>
            <td width="180" valign="top" colspan="2">
                <p>
                    <strong>Предполагаемый срок выполнения:</strong>
                </p>
            </td>
            <td width="444" valign="top" colspan="2">
                <p>
                    28.02.2019
                </p>
            </td>
        </tr>
        <tr>
            <td width="624" valign="top" colspan="4">
                <p>
                    <strong>Текст запроса пользователя:</strong>
                </p>
                <p>
                    В соответствии с письмом Департамента статистики и
                    управления данными от 13.02.2018 № ВН-46-2-2/290 (п.1)
                    необходимо доработать:
                </p>
                <p>
                    Добавить поле «Организация (индикатор действующей КО в
                    КГРКО)» в алгоритм загрузки данных макета «Реестр КО».
                    Отображать поле «Организация (индикатор действующей КО в
                    КГРКО)» в Реестре КО в форме 405.<strong><u></u></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="624" valign="top" colspan="4">
                <p>
                    <strong>Уточнение запроса пользователя:</strong>
                </p>
                <p>
                    В экранной форме "Форма 405. Справочники. Реестр КО"
                    добавить графу “ Индикатор действующей КО”. Графа “
                    Индикатор действующей КО” = 1, если текущая дата входит во
                    временной промежуток окончания действия КО хранящаяся в
                    «Справочники ДИТ.Реестр КО». Поиск в «Реестре КО» окончания
                    действия КО производится по регистрационному номеру, если
                    запись не найдена, то Графа “ Индикатор действующей КО” =
                    0.
                </p>
                <p>
                    Доступ к данному функционалу предоставить существующими
                    средствами ПК Матрикс, только следующим пользователям:
                    Колосова А.С., Елизаров С.К., Харлашин Ф.О.
                </p>
                <p>
                    Приложения:
                </p>
                <p>
                    • Приложение 1. Макет экранной формы «Форма 405.
                    Справочники ДСиУД. Справочник ИНН КО»
                </p>
            </td>
        </tr>
    </tbody>
</table>