<h2>Загрузка файла в папку @ViewBag.PackageId</h2>
<p>
    @using (Html.BeginForm("UploadContent", "Node", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="text" name="id" value="@ViewBag.PackageId" , hidden /><br />
        <input type="file" name="fileUpload" /><br />
        <br /><input type="submit" name="Submit" id="SubmitSingle" value="Upload" />
        @Html.CheckBox("closeWindow", true)
        @Html.Label("закрыть после загрузки")
    }
</p>




@*<h2>Загрузка нескольких файлов</h2>
    <p>
    @using (Html.BeginForm("UploadContent", "Node", FormMethod.Post, new {enctype="multipart/form-data"}))  {
        <input type="file" name="fileUpload[0]" /><br />
        <input type="file" name="fileUpload[1]" /><br />
        <input type="file" name="fileUpload[2]" /><br />
        <input type="submit" name="Submit" id="SubmitMultiply" value="Upload" />
    }
    </p>*@