<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Загрузка файла в папку @ViewBag.PackageId</h2>
    <form  action="/Node/UploadContent/" method="post" enctype="multipart/form-data">
        <input type="text" name="id" value="@ViewBag.PackageId" , hidden /><br />
        <input type="file" name="fileUpload" /><br />
        <br /><input type="submit" name="Submit" id="SubmitSingle" value="Upload" />
    </form>
</body>
</html>
